.fixed{
  position:fixed;
  top:0;
  bottom:0;
  right:0;
  left:0;
  background:#00000070;
  text-align: center;

}
.overlay-wrapper{
  display: inline-block;
  top: 50%;
  text-align:left;
  position: relative;
  transform: translateY(-50%);
}
.index-2{
  z-index: 2;
}
.index-3{
  z-index:3
}

.background {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.form-show{
    opacity: 1;
    display: block;
}

.form-hide{
  webkit-transition: opacity 3s ease-in-out;
  -moz-transition: opacity 3s ease-in-out;
  -ms-transition: opacity 3s ease-in-out;
  -o-transition: opacity 3s ease-in-out;
    opacity: 0;
    display: none;
}